section.team#team
    .l-default
        h2.team__title.title.title--h2 КОМАНДА
        .team__subtitle УПРАВЛЯЮЩИХ
        .team__content
            .team__items.swiper-container
                .swiper-wrapper
                    .team__item.swiper-slide
                        .team__item-info
                            .team__item-name Сергей Пирогов
                            .team__item-position CEO Invest Heroes - партнеры Арикапитал
                            .team__item-text
                                p Наиболее успешен в макро и управлении акциями, благодаря этому макро прогнозы помогут выбирать более выверенные решения 
                                p Команда Invest Heroes будет предоставлять аналитику по акциям и облигациям российского рынка, и макро прогнозы
                    .team__item.swiper-slide
                        .team__item-info
                            .team__item-name Иван Белов
                            .team__item-position Управляющий Арикапитал фондом "Арикапитал - ИнвестХироуз"
                            .team__item-text
                                p Имеет опыт управления фондом с активами свыше 100 млрд. руб.
                                p Обладатель сертификатов ФСФР 1.0 и 5.0
                                p Ключевые навыки: Облигации, евробонды, валюта, управление риском
            .swiper-pagination
            .team__imgs-container 
                .team__imgs 
                    .team__img.active 
                        +webp(['team/1'], 'png')
                    .team__img    
                        +webp(['team/2'], 'png')
