.team {
    min-height: 1031px;
    background: $light_black;
    color: #fff;
    padding-top: 103px;
    overflow: hidden;
    @media screen and (max-width: 1299px) {
        padding-top: 80px;
    }

    @media screen and (max-width: 1099px) {
        min-height: 0;
    }

    @media screen and (max-width: 767px) {
        padding-top: 53px;
    }
    &__title, &__subtitle {
        text-align: center;

        @media screen and (max-width: 1099px) {
            text-align: left;
        }
    }

    &__subtitle {
        font-size: 43px;
        line-height: 120%;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 139px;

        @media screen and (max-width: 1299px) {
            margin-bottom: 80px;
        }

        @media screen and (max-width: 991px) {
            font-size: 20px;
            margin-bottom: 53px;
        }
    }

    &__content {
        position: relative; 
    }

    &__imgs {
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        max-width: 960px;
        min-height: 719px;

        @media screen and (max-width: 1099px) {
            min-height: 360px;
        }

        &:after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -20px;
            z-index: 1;
            width: 100%;
            height: 130px;
            background: url('.././img/svg/mask.svg');
            background-repeat: no-repeat;
            background-size: cover;

            @media screen and (max-width: 1099px) {
                height: 130px;
            }

            @media screen and (max-width: 767px) {
                left: -16px;
                width: calc(100% + 32px);
                height: 50px;
            }
        }

        &:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 400px;
            height: 400px;
            border-radius: 100%;
            background: rgba(217, 217, 217, 0.46);
            filter: blur(80px);
            z-index: -1;
            transform: translate(-50%, -50%);

            @media screen and (max-width: 1099px) {
                width: 230px;
                height: 230px;
            }
        }

        &-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            @media screen and (max-width: 1099px) {
                top: 0;
                left: 0;
                transform: translate(0);
                position: static;
            }
        }
    }

    &__img {
        @include tr('all');
        min-height: 100%;

        @media screen and (max-width: 1099px) {
            height: 360px;
        }

        @media screen and (max-width: 767px) {
            position: absolute;
            right: 0;
            transform: translateX(0) !important;
            height: 360px;
        }

        @media screen and (max-width: 767px) {
            filter: blur(4px);
        }

        &.active {
            filter: blur(0);
            left: -50px;
            z-index: 1 !important;
        }

        img {
            width: auto;
            height: 100%;
        }

        &:first-child {
            transform: translateX(25%);
        }

        &:last-child {
            z-index: -1;
            transform: translateX(-25%);
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        &:first-child {
            width: 406px !important;

            @media screen and (max-width: 767px) {
                width: 100% !important; 
            }
        }

        &:last-child {
            width: 315px !important;

            @media screen and (max-width: 767px) {
                width: 100% !important; 
            }
        }

        &-name {
            font-size: 46px;
            line-height: 120%;
            font-weight: 900;
            color: $orange;
            margin-bottom: 6px;

            @media screen and (max-width: 767px) {
                font-size: 25px;
                margin-bottom: 0;
            }
        }

        &-position {
            font-size: 20px;
            line-height: 120%;
            margin-bottom: 36px;

            @media screen and (max-width: 767px) {
                font-size: 15px;
                margin-bottom: 18px;
            }
        }

        &-text {
            @media screen and (max-width: 767px) {
                margin-bottom: 8px;
            }
            p {
                font-size: 20px;
                line-height: 120%;
                margin: 0;
                margin-bottom: 8px;

                @media screen and (max-width: 767px) {
                    font-size: 15px;
                }
            }
        }
    }

    .swiper-wrapper {
        width: 100%;
        justify-content: space-between;
        pointer-events: none;

        @media screen and (min-width: 767px) {
            transform: translate(0) !important;
        }
    }

    .swiper-pagination {
        position: static;
        top: 0;
        left: 0;
        display: none;
        @media screen and (max-width: 767px) {
            display: block;
        }
        &-bullet {
            background: #fff;
            margin-right: 8px;
            
            &-active {
                background: $orange;
            }
        }
    }
}