section.parameters#parameters
    .l-default
        h2.parameters__title.title.title--h2 ПАРАМЕТРЫ
        .parameters__subtitle ФОНДА
        .parameters__content
            .parameters__items
                .parameters__item
                    .parameters__item-title Стратегия, тип фонда
                    .parameters__item-img
                        img(src="img/svg/parameters/lines/1.svg", alt="")
                    .parameters__item-text 
                        p Фонд смешаный (инвестирует в акции, но может уйти в защиту через облигации и валюту) – на усмотрение команды управляющих
                .parameters__item
                    .parameters__item-title Название
                    .parameters__item-img
                        img(src="img/svg/parameters/lines/2.svg", alt="")
                    .parameters__item-text 
                        p Фонд АриКапитал Инвест Хироуз
                .parameters__item
                    .parameters__item-title Прочие расходы
                    .parameters__item-img
                        img(src="img/svg/parameters/lines/3.svg", alt="")
                    .parameters__item-text 
                        p 0.25% за спецдепозитарий
                        p До 0.5% на брокерские расходы 
            .parameters__img
                img(src="img/svg/parameters/1.svg", alt="")
            .parameters__items
                .parameters__item
                    .parameters__item-title Минимальное вложение
                    .parameters__item-img
                        img(src="img/svg/parameters/lines/4.svg", alt="")
                    .parameters__item-text 
                        p 100,000 Руб
                .parameters__item
                    .parameters__item-title Комиссии, скидки и надбавки
                    .parameters__item-img
                        img(src="img/svg/parameters/lines/5.svg", alt="")
                    .parameters__item-text 
                        p 3% от размера активов в год
                        p 1% скидка при погашении менее чем через 1 год (если более 1 года, то нет этой комиссии)
                .parameters__item
                    .parameters__item-title Цели
                    .parameters__item-img
                        img(src="img/svg/parameters/lines/6.svg", alt="")
                    .parameters__item-text 
                        p Положительная доходность в разных условиях
                        p Ориентир доходности 18-20% годовых за вычетом расходов (средняя за 3-летний период)