header.header
    .l-default 
        .header__wrapper 
            .header__logos
                .header__logo
                    +svgMono('logo')
                .header__logo
                    img(src="img/svg/logo-ari.svg", alt="")
    .header__burger     
        span 
        span 
        span 
    .header__mobile
        .header__logo 
            img(src="img/svg/logo.svg", alt="")
        .header__menu
            a.scroll.header__menu-item(href="#for-whom") Кому подходит
            a.scroll.header__menu-item(href="#unique") Уникальность фонда
            a.scroll.header__menu-item(href="#team") Команда
            a.scroll.header__menu-item(href="#difference") В чем отличие
            a.scroll.header__menu-item(href="#parameters") Параметры фонда
            a.scroll.header__menu-item(href="#how") Как работает фонд
            a.scroll.header__menu-item(href="#client") Как стать клиентом
            a.scroll.header__menu-item(href="#get") Что получит участник
            a.scroll.header__menu-item(href="#horizontal-form") Заявка
            a.scroll.header__menu-item(href="#faq") FAQ