-
    const dropdowns = [
        {
            title: 'Что такое паевой инвестиционный фонд (ПИФ)?',
            text: '<p>Это одна из форм инвестирования. Задача паевого фонда заключается в том, чтобы объединять средства вкладчиков для вложения в ценные бумаги и другие рыночные инструменты. Управление фондом осуществляет профессиональный управляющий через управляющую компанию.</p>',
        },
        {
            title: 'Что такое инвестиционный пай?',
            text: '<p>Когда инвестор вносит деньги в фонд, взамен он получает некоторое количество паев и становится пайщиком фонда. Юридически пай — это именная бездокументарная ценная бумага, удостоверяющая право собственности владельца на долю имущества паевого фонда.</p>',
        },
        {
            title: 'Каким образом пайщик получает доход с помощью ПИФа?',
            text: 'От роста стоимости пая. Доход формируется в виде разницы между ценой покупки и ценой продажи пая; его можно получить, только продав свой пай. ',
        },
        {
            title: 'Если ПИФ получает дивиденды и купоны, то может ли пайщик рассчитывать на их выплату?',
            text: 'Нет. Дивиденды и купоны приходят в фонд "грязными" (неочищенными от налога), остаются в нем и капитализируются. Данный метод позволяет увеличивать доходности и избегать уплаты налога в налоговые периоды.',
        },
        {
            title: 'Что такое стоимость пая?',
            text: 'Стоимость пая равна стоимости имущества, делённая на количество паев фонда. Именно динамика стоимости пая показывает успех управления активами фонда. Чем больше растет пай, тем больше зарабатывают пайщики.',
        },
        {
            title: 'Что такое стоимость чистых активов (СЧА)?',
            text: 'Это стоимость имущества фонда, находящегося в управлении. Иными словами, сколько денег находится у фонда в управлении. К доходности этот показатель не имеет отношения.',
        },
        {
            title: 'Как приобрести и погасить паи?',
            text: 'Паи фонда не обращаются на бирже, поэтому, чтобы войти в  него, необходимо пройти верификацию на сайте управляющей компании (УК) <a href="https://www.aricapital.ru/">https://www.aricapital.ru/</a> и далее подать заявку на приобретение паев. Погашение происходит также через подачу заявки в личном кабинете.',
        },
        {
            title: 'Что будет с паями при банкротстве управляющей компании?',
            text: 'Имущество паевого инвестиционного фонда не является имуществом управляющей компании, поэтому ее банкротство на него не влияет. В случае банкротства назначается конкурс, где пайщики выбирают новую управляющую компанию, и ПИФ переходит под управление другой УК или прекращает свою деятельность. Тогда имущество фонда переводится в деньги (по рыночной стоимости купленных активов), которые выплачиваются пайщикам.',
        },
        {
            title: 'Можно ли передать ПИФы по наследству или подарить?',
            text: 'Можно. Для того чтобы получить ПИФ по наследству, нужно обратиться к нотариусу, а чтобы подарить — в управляющую компанию.',
        },
        {
            title: 'Какие налоги платит пайщик ПИФа?',
            text: 'Подоходный налог (НДФЛ) в размере 13% от дохода, полученного от продажи паев. Налоговым агентом выступает управляющая компания, поэтому пайщикам не нужно самостоятельно обращаться в ФНС.',
        },
        {
            title: 'Есть ли налоговые льготы при владении паями?',
            text: '<p>Да, если срок владения паем более трех лет — называется льгота на долгосрочное владение (ЛДВ). Почитать о ней можете здесь (текст ниже лучше зашить как выплывающее окно)</p><p>Трёхлетняя льгота — это налоговый вычет, которым может воспользоваться инвестор в ПИФ по истечении трёх лет с момента покупки пая. Размер льготы составляет 3 млн рублей за каждый год. Данная льгота позволит вам снизить налог, который предстоит заплатить с полученной прибыли.</p><p>Рассмотрим на примере ниже. Вы купили паи фонда 1 августа 2022 г. и погасили их 2 августа 2026 г. В момент покупки вы инвестировали 2,5 млн рублей, а в день погашения пая сумма составила 6,7 млн рублей.</p><p>Так как вы владели паем 4 года, то размер вычета составит 12 млн рублей (4 года * 3 млн).Далее для расчета налоговой базы найдем разницу по формуле «доход (минус) размер вычета»: (6,7 – 2,5) < 12 = налога не будет, потому что сумма дохода меньше, чем размер вычета.</p><p>Другой пример. Вы купили паи фонда 1 августа 2022 г. и погасили их 2 августа 2025 г. В момент покупки вы инвестировали 5 млн рублей, а в день погашения пая сумма составила 16,7 млн рублей.</p><p>Так как вы владели паем 3 года, то размер вычета составит 9 млн рублей (3 года * 3 млн). Далее считаем по формуле: (16,7 – 5) > 9 = 2,7 млн рублей — доход, с которого надо будет заплатить налог в размере 13% — это 351 тыс. рублей. Таким образом, с дохода в 11,7 млн (16,7 – 5) вы заплатите налог в размере 351 тыс. рублей.</p>',
        },
    ]

 