.ico-mono-instagram {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-logo {
  width: 8.77em;
  height: 1em;
  fill: #474747;
}
.ico-mono-telegram {
  width: 1.17em;
  height: 1em;
  fill: #fff;
}
.ico-mono-vk {
  width: 1.62em;
  height: 1em;
  fill: #fff;
}
