section.adaptation#adaptation
    .l-tight 
        h2.adaptation__title.title.title--h2 Фонд адаптирован
        .adaptation__subtitle к заработку на разных рынках и в разных условиях
        .adaptation__content
            .adaptation__items
                .adaptation__item
                    .adaptation__item-text Сила подхода – в комплементарности навыков
                    .adaptation__item-img 
                        img(src="img/svg/adaptation/lines/1.svg", alt="")
                .adaptation__item
                    .adaptation__item-text Сергей умеет активно действовать на рынке акций - Команда Invest Heroes будет предоставлять аналитику, которая поможет оперативно выбирать лучшие возможности на рынке акций
                    .adaptation__item-img 
                        img(src="img/svg/adaptation/lines/2.svg", alt="")
                .adaptation__item
                    .adaptation__item-text Иван за счёт оперативности прогнозов и своего профессионализма в облигациях будет формировать из этого результат
                    .adaptation__item-img 
                        img(src="img/svg/adaptation/lines/3.svg", alt="")
            .adaptation__img 
                img(src="img/svg/adaptation/1.svg", alt="")
            .adaptation__items
                .adaptation__item
                    .adaptation__item-text Одна из главных возможностей фонд - это способность команды находить ситуации, когда что-то недооценено  и на этом можно взять актив по хорошей цене
                    .adaptation__item-img 
                        img(src="img/svg/adaptation/lines/4.svg", alt="")
                .adaptation__item
                    .adaptation__item-text Опыт позволил достойно принять ключевые решения в COVID и на других потрясениях рынка
                    .adaptation__item-img 
                        img(src="img/svg/adaptation/lines/5.svg", alt="")