-
    const get_items = [
        {
            img: '1',
            title: 'Закрытый <br>telegram канал ',
            text: 'В нем команда ежемесячно будут проводить один эфир, чтобы рассказать о том, как они видят будущую ситуацию и как она скажется на ПИФе',
        },
        {
            img: '2',
            title: 'Уникальную скидку 30%<br> на сервис Invest Heroes',
            text: 'Все владельцы  паев получат уникальные условия для продолжения использования  сервиса на аналитику по подписке',
        },
        {
            img: '3',
            title: 'В будущем планируется придумать еще ряд возможностей для инвесторов в ПИФ ',
            text: 'и будем о них рассказывать в специально закрытом телеграм канале для пайщиков',
        },
    ]