-
    const client_items = [
        {
            img: '1',
            title: '1. Оформляете заявку на фонд на сайте АриКапитал',
            text: 'Для этого регистрируетесь в Личном Кабинете / вам понадобится паспорт и 15 минут времени',
        },
        {
            img: '2',
            title: '2. Получаете банковские реквизиты для оплаты в личном кабинете Арикапитал или на email',
            text: 'Нужно использовать точное назначение платежа',
        },
        {
            img: '3',
            title: '3. Отправляете банковский перевод, получаете оповещение об оплате паев',
            text: 'В течение 2 рабочих дней ваши средства поступят на счета фонда, и вы сможете ежедневно отслеживать структуру активов и динамику стоимости 1 пая',
        },
    ]