section.difference#difference
    .l-tight 
        h2.difference__title.title.title--h2 В чем отличие
        .difference__subtitle ОТ ДРУГИХ ФОНДОВ = В чем суть подхода?
        .difference__tabs
            .difference__tab.difference__item-title.active(data-id="0") Подход фонда "Арикапитал - Инвестхироуз"
            //- .difference__tab.difference__item-title(data-id="1") Типичный ПИФ
        .difference__items
            .difference__item.active
                .difference__item-table
                    .difference__item-description 
                        span Состав фонда
                    ul.difference__item-list
                        li Выбирает лучше по аналитике IH
                        li Может инвестировать много и не в фишки
                        li Может отыгрывать корп. события и действовать спекулятивно
                .difference__item-table
                    .difference__item-description   
                        span Поведение на обвалах
                    ul.difference__item-list
                        li Хеджируется, придумывает как выйти из ситуации
                .difference__item-table
                    .difference__item-description 
                        span Гибкость
                    ul.difference__item-list
                        li Может уйти в ОФЗ до 100%
                        li Может до 20% хедж через фьючерсы
                        li До 20% в валюте или в золоте
                .difference__item-table
                    .difference__item-description 
                        span Логика поведения
                    ul.difference__item-list
                        li Выбирает лучшие возможности на рынке для получения ежегодного результата
                .difference__item-table
                    .difference__item-description 
                        span Аналитика
                    ul.difference__item-list
                        li Надежный партнер(Invest Heroes), который предоставляет аналитические отчёты и макро прогнозы по рынку
                        li Фонд более гибкий и проактивный, поэтому нацелены на амбициозные результаты
            //- .difference__item
            //-     .difference__item-table
            //-         .difference__item-description
            //-             span Состав фонда
            //-         ul.difference__item-list
            //-             li Боится сильно отклоняться от индекса по составу
            //-             li Покупает редко и надолго
            //-     .difference__item-table 
            //-         .difference__item-description
            //-             span Поведение на обвалах
            //-         ul.difference__item-list
            //-             li Не хеджируется, а верит, что «фундаментально недооценено»
            //-     .difference__item-table
            //-         .difference__item-description
            //-             span Гибкость
            //-         ul.difference__item-list
            //-             li Может выйти в кэш в пределах 10%
            //-     .difference__item-table
            //-         .difference__item-description
            //-             span Логика поведения
            //-         ul.difference__item-list
            //-             li Хочет не отстать от индекса
            //-             li Ничего не делает, если в глубоком минусе на таком же рынке
            //-     .difference__item-table
            //-         .difference__item-description
            //-             span Аналитика
            //-         ul.difference__item-list
            //-             li Управляющий читает чужие отчеты / не всегда может быть уверен в их актуальности и слабых местах
        .difference__bottom
            .difference__bottom-title Мы более гибки и проактивны,
            .difference__bottom-text поэтому удается достигать результатов лучше других
        a.difference__btn.btn.btn--orange.scroll(href="#horizontal-form") Оставить заявку на консультацию


