extends layouts/default
include helpers/_mixins-default
include helpers/_mixins-custom

block variables
  - const title = "Invest Heroes"

block content
  .arrow-up.hidden
    img(src="img/svg/arrow-up.svg", alt="")
  include ../blocks/modules/header/header.pug
  main.main
    include ../blocks/modules/main-top/main-top.pug
    include ../blocks/modules/for-whom/for-whom.pug
    include ../blocks/modules/unique/unique.pug
    include ../blocks/modules/team/team.pug
    include ../blocks/modules/adaptation/adaptation.pug
    include ../blocks/modules/difference/difference.pug
    include ../blocks/modules/parameters/parameters.pug
    include ../blocks/modules/how/how.pug
    include ../blocks/modules/client/client.pug
    include ../blocks/modules/get/get.pug
    include ../blocks/modules/horizontal-form/horizontal-form.pug
    include ../blocks/modules/faq/faq.pug
  include ../blocks/modules/footer/footer.pug

block scripts
  script(src="js/vendor.js")
  script(src="js/main.js")