- 
    const for_whom_items = [
        {
            img: '1',
            text: 'Если у вас нет времени управлять своим капиталом',
        },
        {
            img: '2',
            text: 'Если вы пытаетесь управлять самостоятельно, но не получаете результата',
        },
        {
            img: '3',
            text: 'Если вы устали постоянно следить за событиями в мире и искать лучшие возможности',
        },
        {
            img: '4',
            text: 'Если вы хотите сохранить и приумножить свой капитал, а не потерять',
        },
    ]