section.main-top
    .l-default 
        .main-top__texts
            .main-top__info
                .main-top__subtitle макроФОНД
                h1.main-top__title.title.title--h1 <span>Арикапитал</span> - ИнвестХироуз
                .main-top__description Главная ценность фонда в его гибком и проактивном подходе к управлению с поправкой на макротенденции в стране и мире. Прошли времена, когда можно было купить и забыть!
                .main-top__text В ситуации неопределенности оперативный анализ и профессиональная реакция на быстро меняющуюся повестку приносит результат!
                .main-top__prices
                    .main-top__prices-item
                        .main-top__prices-number + 23,2 %*
                        .main-top__prices-text 1-е место по доходности за 2022 год
                        .main-top__prices-text--bottom *за период 12 мес доходность на 30.12.2022
                    .main-top__prices-item
                        .main-top__prices-number 669 382 113,45 ₽
                        .main-top__prices-text СЧА фонда на 30.12.22
        a.main-top__btn.btn.btn--orange.scroll(href="#horizontal-form") Оставить заявку на консультацию
        .main-top__img 
            +webp(['main-top/main'], 'png')
