section.how#how
    .l-tight 
        h2.how__title.title.title--h2 Как работает
        .how__subtitle инфраструктура фонда?
        .how__text УК не владеет активами фонда, а только ими распоряжается. Активы фонда в депозитарии, в банке. <br>В банке держатся min активы
        .how__img 
            //- +webp(['how/1', 'how/2'], 'png', '', alt, sizes=[{min: ['991']}, {max: ['991']}])
            img.desktop(src="img/how/1.svg", alt="")
            img.mobile(src="img/how/2.svg", alt="")