footer.footer
    .l-tight 
        .footer__wrapper
            .footer__policy © «Invest Heroes», 2018-2022
            .footer__socials
                a.footer__social(href="https://t.me/InvestHeroes")
                    +svgMono('telegram')
                a.footer__social(href="https://vk.com/investheroes")
                    +svgMono('vk')
                //- a.footer__social(href="")
                //-     +svgMono('instagram')