-
    const unique_items = [
        {
            img: '1',
            title: 'Фонд для своих денег',
            text: 'Фонд нацелен на то, чтобы получать результат каждый год. Поэтому и сами команды участвующие в проекте не стесняются заходить в этот фонд',
        },
        {
            img: '2',
            title: 'Не ловить рыбу там, где ее нет',
            text: 'Фонд универсальный, чтобы капитал мог быть в тех активах, которые наиболее интересны на рынке прямо сейчас',
        },
        {
            img: '3',
            title: 'Опора на макро',
            text: 'Макро - это преимущество, которое заранее поможет определять наиболее интересные тренды',
        },
        {
            img: '4',
            title: 'Мульти экспертиза',
            text: 'Фонд сможет создавать альфу как на акциях, фьючерсах, так и на облигациях. Поэтому он смешанный ',
        },
        {
            img: '5',
            title: 'Своя аналитика',
            text: 'Мы - Invest Heroes, как партнеры по фонду предоставляем качественную аналитику Арикапиталу для анализа лучших возможностей на рынке',
        },
        {
            img: '6',
            title: 'Возможность защитить фонд в турбулентность',
            text: 'До 20% СЧА фонда может быть использовано, чтобы шортить рынок акций, и тем самым страховать фонд в периоды снижений',
        },
    ]